<p id="notice" class="alert alert-success">
  <%= notice %>
</p>
<h1>タイトル</h1>
<p><%= @note.title %></p>
<h1>内容</h1>
<p><%= @note.content %></p>
<%= link_to '編集', edit_note_path(@note.id), class: 'btn primary-btn' %>
<%= link_to '削除', note_path(@note.id), method: 'delete', class: 'btn destroy-btn', "data-confirm" => "本当に削除しますか？" %>