<!--<%= link_to 'New User', new_user_path %>-->

<h1 class="heading">ユーザー一覧</h1>
<%= link_to '新規ユーザー作成', new_user_path, class: "btn add-user-btn" %>

<ul class="user-list">
  <% @users.each do |user| %>
    <li>
      <%= image_for(user) %>
      <%= link_to user.name, user %> |
      <%= user.email %>
    </li>
  <% end %>
</ul>