<p id="notice" class="alert alert-success"><%= notice %></p>

<aside class="sidebar">
  <section>
    <span class="label">プロフィール画像</span>
    <h3 class="user-info">
      <%= image_for(@user) %>      
    </h3>
  </section>
  <section>
    <span class="label">名前</span>
    <h3 class="user-info"><%= @user.name %></h3>
  </section>
  <section>
    <span class="label">メールアドレス</span>
    <h3 class="user-info"><%= @user.email %></h3>
  </section>
  <section>
    <small>
      <%= link_to 'プロフィールを編集する', edit_user_path(@user) %>
    </small>
  </section>  
</aside>

<ul class="notes">
</ul>