/* 共通レイアウト ================================ */
body {
  padding-top: 60px;
  color: #364a4d;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #1f89e2;
}

a:hover {
  // text-decoration: underline;
  // text-decoration: none;
  // color: #1b7ccd;
}

.container {
  width: 980px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
}


/* フォント ================================ */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 32px;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 20px;
  letter-spacing: -1px;
}

p {
  font-size: 16px;
  line-height: 40px;
}

/* ボタン ================================= */
.btn {
  padding: 8px 24px;
  font-size: 16px;
  color: white;
  opacity: 0.8;
  border-style: none;
  border-radius: 3px;
}

.btn:hover {
  opacity: 1;
}

.primary-btn {
  background-color: #239b76;
}

/* 「編集」ボタン */
.edit-btn {
  background-color: #239b76;
}

.edit-btn:hover {
  background-color: #28b086;
  color: white;
  text-decoration: none;
}

/* 「削除」ボタン */
.destroy-btn {
  background-color: #1f89e2;
}

.destroy-btn:hover {
  background-color: #3695e5;
  color: white;
  text-decoration: none;
}

/* フォーム================================ */
input, textarea, select {
  border: 1px solid #bbb;
  margin-top: 5px;
  margin-bottom: 25px;
  border-radius: 3px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}

.content-field {
  height: 90px;
}

/*　エラーメッセージ　*/
.alert {
  margin-bottom: 20px;
  border-radius: 4px;
  font-size: small;
}

.alert-danger {
  padding: 10px 20px;
  background-color: #f2dede;
  color: #a94442;
}

.alert-danger ul li {
  list-style-type: disc;
 }
 
 .alert-success {
  line-height: 40px;
  padding-left: 15px;
  background-color: #dff0d8;
  color: #3c763d;
}

/* ヘッダー ================================ */
.navbar {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  margin-bottom: 20px;
}

#logo {
  float: left;
  font-size: 27px;
  color: #fff;
  padding-top: 12px;
  letter-spacing: -1px;
  font-weight: bold;
}

.header-right {
  float: right;
  margin: 0 auto;
}

.header-right a {
  color: white;
  display: block;
  text-decoration: none;
}

.header-right li {
  line-height: 65px;
  padding: 0 18px;
  float: left;
  color: white;
}

/* フッター ================================ */
footer {
  margin-top: 100px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #848484;
}

footer small {
  float: left;
  font-size: 14px;
}