// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* 投稿一覧================================ */
.notes {
  margin: 0;
  float: left;
  width: 60%;
}

.notes li {
  padding: 8px 0 10px 0;
  border-bottom: 1px solid #eaeaea;
}

.notes .title, .notes .content {
  display: block;
}

.notes .title {
  padding-top: 8px;
}

/* 投稿フォーム ================================ */

.user-id-field {
  width: 100%;
}

