// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.heading {
  display: inline-block;
}

.add-user-btn {
  background-color: #239b76;
  margin-top: 16px;
  float: right;
}

.name-field {
  width: 45%;
}

.email-field {
  width: 45%;
}

.image-field {
  
}

/* ユーザーのshowページ ================================ */
.sidebar { 
  width: 34%;
  float: left;
  margin-bottom: 30px;
}

.label {
  color: #C0C0C2;
}

.user-info {
  margin: 10px 0 30px 0;
}

.user-info .profile_img {
  width: 140px;
  height: 140px;
}

.profile_img {
  width: 52px;
  height: 52px;
}

// user index
.user-list li {
  overflow: auto;
  padding: 10px 0;
  border-bottom: 1px solid #eaeaea;
}

.user-list img {
  display: inline-block;
  padding: 5px 0;
  margin-right: 5px;
  float: left;
}

.user-list a {
  display: inline-block;
  margin-top: 22px;
}